$primaryColorRed: #f25041;
$primaryColorYellow: #ffe753;
$primaryColorGreen: #3ccc7a;
$primaryColorBlue: #009eef;

$primaryHeadingColor: #000000;
$secondaryHeadingColor: #787878;
$textColor: #000000;
