@import "variables";
.footer {
  background-color: $primaryColorBlue;
  padding: 32px;

  .heading {
    color: white;
    margin-bottom: 24px;
  }

  &__text {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.social {
  display: flex;

  &__link {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__icon {
    max-width: 50px;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    &__subscribe-form {
      margin-bottom: 24px;
    }
  }
}

@media screen and (max-width: 1212px) {
  .footer__subscribe-form {
    flex-wrap: wrap;

    .subscribe-form__input {
      margin-bottom: 16px;
      margin-right: 0;
    }

    .subscribe-form__input,
    .subscribe-form__submit {
      max-width: 80%;
    }
  }
}
