@import "variables";
.footer {
  background-color: $primaryColorBlue;
  padding: 32px;

  .heading {
    color: white;
    margin-bottom: 24px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__text {
    color: white;
    font-size: 20px;
    margin-bottom: 24px;
  }

  &__subscribe-form .notification {
    width: auto;
    white-space: nowrap;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}

.social {
  display: flex;
  justify-content: flex-end;

  &__link {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &__icon {
    max-width: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 32px 0;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    &__subscribe-form {
      margin-bottom: 24px;

      & .notification {
        top: -60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 1212px) {
  .footer__subscribe-form {
    flex-wrap: wrap;

    .subscribe-form__input {
      margin-bottom: 16px;
      margin-right: 0;
    }
  }
}
