@import "variables";

.separator {
  display: flex;
  justify-content: center;
  padding: 42px;

  &__item {
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;

    border-top: 15px solid;

    &:nth-child(1) {
      border-top-color: $primaryColorRed;
    }
    &:nth-child(2) {
      border-top-color: $primaryColorYellow;
    }
    &:nth-child(3) {
      border-top-color: $primaryColorGreen;
    }
    &:nth-child(4) {
      border-top-color: $primaryColorBlue;
    }

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}
