@import "variables";

.subscribe-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $primaryColorBlue;
  padding: 22px 0;
  position: relative;

  &__heading {
    text-align: center;
    margin-bottom: 16px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    font-family: "Quicksand", sans-serif;
    color: white;
  }
}

.subscribe-form {
  display: flex;
  width: 100%;
  justify-content: center;

  & > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
  }
  &__input {
    border-radius: 50px;
    padding: 10px 32px;
    margin-right: 16px;
    max-width: 280px;
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
  }
  &__submit {
    border-radius: 50px;
    padding: 10px 32px;
    border: none;
    font-size: 21px;
    background-color: $primaryColorYellow;
    color: #1a1a1a;
    max-width: 280px;
    font-family: "Quicksand", sans-serif;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}

.notification {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 100%;
  left: 50%;
  padding: 8px 32px;
  border-radius: 50px;
  background-color: $primaryColorGreen;
  color: white;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .subscribe-form {
    flex-wrap: wrap;
    &__input {
      margin-bottom: 16px;
      margin-right: 0;
    }

    &__input,
    &__submit {
      max-width: 80%;
    }
  }
}
