<section class="main-container container">
  <h3 class="heading text-align-center">An Accountability Partner</h3>
  <h4 class="heading text-align-center">Cultivate good habits</h4>
  <div class="row">
    <div class="col-lg-5 d-flex flex-column justify-content-center">
      <p class="text-block">
        Keep track of your next steps! Savvyy emails you daily reminders with
        your upcoming to-dos so that you always remember what you need to
        accomplish next.
      </p>
      <p class="text-block">
        Look back on what you've achieved + set new goals. Savvyy shows a
        summary of what you've accomplished on each day of your search and
        allows you to set daily, weekly and monthly targets for what you'd like
        to accomplish.
      </p>
    </div>
    <div class="col-lg-7">
      <img src="../assets/accountability.png" alt="An Accountability Partner" />
    </div>
  </div>
</section>
