<section class="main-container container">
  <div class="row">
    <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-center">
      <h1 class="heading h1-max-width">Home Base for Your Career Search</h1>
      <h4 class="heading margin-bottom">
        Does your job search feel scattered?
      </h4>
      <ul class="list">
        <li class="list__item">
          Organize your job leads, contacts, company info - all on one
          cloud-based platform
        </li>
        <li class="list__item">
          Email Savvyy anything you don't want to forget or lose - research,
          notes, to-dos
        </li>
        <li class="list__item">
          Leverage Savvyy's powerful tools to stay on top of your career search
        </li>
        <li class="list__item">Savvyy is releasing soon!</li>
      </ul>
    </div>
    <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
      <img
        class="main-image"
        src="../assets/header.png"
        alt="Home Base for your Career Search"
      />
    </div>
  </div>
</section>
