<section class="main-container container">
  <h3 class="heading text-align-center">Cultivate Your Network</h3>
  <h4 class="heading text-align-center">
    Store the contacts that matter — and remember why they matter.
  </h4>
  <div class="row">
    <div class="col-lg-7">
      <img
        class="margin-mobile"
        src="../assets/network.png"
        alt="Store the contacts that matter — and remember why they matter."
      />
    </div>
    <div class="col-lg-5 d-flex flex-column justify-content-center">
      <p class="text-block">
        An estimated 85 percent of jobs are filled via networking. Savvyy
        encourages you to note your interactions with contacts so you remember
        to focus on growing those important relationships.
      </p>
      <p class="text-block">
        Transform contacts into meaningful friendships. Remember what someone's
        up to in their lives or tidbits about their kids. Savvyy encourages you
        to remember and jot down these items so that you may connect
        purposefully with those in your network.
      </p>
    </div>
  </div>
</section>
