<section class="feature-section main-container">
  <div class="feature-section__row">
    <div class="feature">
      <img
        class="feature__img"
        src="../assets/notebooks-feature.svg"
        alt="Journal"
      />
      <h6 class="feature__title">Journal</h6>
      <p class="feature__text">
        Record today's activity and review tomorrow's plans to get a bigger
        picture of your search.
      </p>
    </div>
    <div class="feature">
      <img
        class="feature__img"
        src="../assets/email-feature.svg"
        alt="Quick-save stuff via email"
      />
      <h6 class="feature__title">Quick-save stuff via email</h6>
      <p class="feature__text">
        Like emailing yourself? Email anything (leads, notes, PDFs) to Savvyy
        and we'll categorize it and save it in your database.
      </p>
    </div>
    <div class="feature">
      <img
        class="feature__img"
        src="../assets/notepads-feature.svg"
        alt="Notes"
      />
      <h6 class="feature__title">Notes</h6>
      <p class="feature__text">
        Had a productive phone call with a recruiter or hiring manager? Jot down
        notes for easy reference.
      </p>
    </div>
  </div>

  <div class="feature-section__row">
    <div class="feature">
      <img
        class="feature__img"
        src="../assets/target-feature.svg"
        alt="To-Do List"
      />
      <h6 class="feature__title">To-Do List</h6>
      <p class="feature__text">
        Remind yourself to follow up with a contact next month or check a
        company website for new postings.
      </p>
    </div>
    <div class="feature">
      <img class="feature__img" src="../assets/tags-feature.svg" alt="Tags" />
      <h6 class="feature__title">Tags</h6>
      <p class="feature__text">
        Everything thinks and organizes information differently. Savvyy lets you
        do it your way.
      </p>
    </div>
    <div class="feature">
      <img
        class="feature__img"
        src="../assets/strategy-feature.svg"
        alt="File tracking"
      />
      <h6 class="feature__title">File tracking</h6>
      <p class="feature__text">
        Keep track of tailored resumes and cover letters. Found an informative
        company report? Upload it to that company in Savvvy.
      </p>
    </div>
  </div>
</section>
