<footer class="footer">
  <h3 class="heading text-align-center">
    Savvyy — Home Base for Your Career Search
  </h3>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <p class="footer__text">
          Follow us for updates on our mission to change the way you career
          search and be among the first invited to use Savvyy upon release.
        </p>

        <form class="subscribe-form footer__subscribe-form container">
          <input
            type="text"
            placeholder="Your email..."
            class="subscribe-form__input col-sm-12"
          />
          <button
            id="subscribe-submit-js"
            class="subscribe-form__submit col-sm-12"
          >
            Be the first to know!
          </button>

          <div class="notification subscribe-notification-js">
            <span class="notification__text">Thank you for subscription</span>
          </div>
        </form>
      </div>
      <div
        class="col-lg-6 col-sm-12 d-flex justify-content-end align-items-end"
      >
        <!-- <nav class="social">
          <a href="#" class="social__link">
            <img
              class="social__icon"
              src="../assets/linkedin_icon_svy.svg"
              alt="linkedin"
            />
          </a>
          <a href="#" class="social__link">
            <img
              class="social__icon"
              src="../assets/twitter_icon_svy.svg"
              alt="twitter"
            />
          </a>
          <a href="#" class="social__link">
            <img
              class="social__icon"
              src="../assets/facebook_icon_svy.svg"
              alt="facebook"
            />
          </a>
        </nav> -->
      </div>
    </div>
  </div>
</footer>
