<section class="main-container container">
  <h3 class="heading text-align-center">
    Interact with Savvyy through your email
  </h3>
  <h4 class="question text-align-center">
    Ever email yourself stuff you don't want to forget?
  </h4>
  <p class="text-block text-align-center">
    Quick and convenient, email anything related to your career search to
    Savvyy. Savvyy uses tags to automatically organize everything into its
    correct place within your Savvyy dashboard.
  </p>
  <img
    class="block-image"
    src="../assets/email.png"
    alt="Interact with Savvyy through your email"
  />
</section>
