<section class="main-container container">
  <h3 class="heading text-align-center">Organize your way with Tags</h3>
  <p class="text-block text-align-center">
    Grouping and filtering made easy! Tags are defined by you and can be
    attached to anything. Want to track all your leads in Silicon Valley? Attach
    a #silvalley tag. Looking to remember who you met at a conference in Boston?
    Tag the desired contacts with a #bostonconf2019 tag.
  </p>
  <img
    class="img-margin block-image"
    src="../assets/tags.png"
    alt="Organize your way with Tags"
  />
  <p class="text-block text-align-center">
    Quickly filter and locate items using Savvyy's integrated search function.
    Search any tag to conveniently bring up any items associated with it!
  </p>
</section>
