<section class="main-container container">
  <h3 class="heading text-align-center">A Space to Reflect</h3>
  <h4 class="heading text-align-center">
    Stay centered through all the ups and downs
  </h4>
  <div class="row">
    <div class="col-lg-5 d-flex flex-column justify-content-center">
      <p class="text-block">
        Even with all the help that Savvyy provides, the job search can be
        overwhelming. The journal gives you a private space to reflect on each
        day's ups and downs. Writing even a few sentences every day helps to
        keep you focused and determined — even when the times are tough.
      </p>
      <p class="text-block">
        Savvyy can even send you a daily reminder to help you maintain this
        important practice.
      </p>
    </div>
    <div class="col-lg-7">
      <img
        src="../assets/reflect.png"
        alt="Stay centered through all the ups and downs"
      />
    </div>
  </div>
</section>
