<section class="main-container container">
  <h3 class="heading text-align-center">Stay Sharp With Savvyy</h3>
  <h4 class="heading text-align-center">
    Did you know that the average person will have seven different careers?
  </h4>
  <div class="row">
    <div class="col-lg-8">
      <img
        class="margin-mobile image-max-width"
        src="../assets/stay-sharp.png"
        alt="Store the contacts that matter — and remember why they matter."
      />
    </div>
    <div class="col-lg-4 d-flex flex-column justify-content-center">
      <p class="text-block">
        Remember that your career is a marathon, not a sprint that ends when you
        land your next job. Savvyy gives you the tools to cultivate both your
        network and industry knowledge, allowing you to stay competitive and
        upwardly mobile.
      </p>
      <p class="text-block">
        Once you land your next opportunity, continue to use Savvyy for only $3
        per month.
      </p>
    </div>
  </div>
</section>
