<section class="subscribe-section">
  <div class="subscribe-section__heading">
    Sign up with your email to be among the first notified.
  </div>
  <form class="subscribe-form container">
    <input
      type="text"
      placeholder="Your email..."
      class="subscribe-form__input col-sm-12 col-lg-6"
    />
    <button
      id="subscribe-submit-js"
      class="subscribe-form__submit col-sm-12 col-lg-6"
    >
      Be the first to know!
    </button>
  </form>

  <div class="notification" id="subscribe-notification-js">
    <span class="notification__text">Thank you for subscription</span>
  </div>
</section>
