<section class="subscribe-section">
  <p class="subscribe-section__heading">
    Sign up with your email to be among the first notified.
  </p>
  <form class="subscribe-form container">
    <input
      type="text"
      placeholder="Your email..."
      class="subscribe-form__input col-sm-12 col-lg-6"
    />
    <button
      id="subscribe-submit-js"
      class="subscribe-form__submit col-sm-12 col-lg-6"
    >
      Be the first to know!
    </button>

    <div class="notification subscribe-notification-js">
      <span class="notification__text">Thank you signing up!</span>
    </div>
  </form>

  <p class="subscribe-section__heading">
    Or drop us a line, we'd love to hear from you:
    <a href="mailto:hey@savvyy.com" class="footer__text">hey@savvyy.com</a>
  </p>
</section>
