<section class="main-container container">
  <h2 class="heading text-align-center">Unlocking Efficiency</h2>
  <h4 class="heading text-align-center margin-none">
    Discover the tools to transform your search.
  </h4>
  ${require('./separator.html')}
  <h3 class="heading text-align-center">
    The Dashboard — Organized and On-task
  </h3>
  <p class="text-block text-align-center">
    Forget the scattered post-it notes and endless spreadsheets! Designed for
    ease of use, the Savvyy dashboard provides a bird's eye view of all your job
    leads, company research and contacts.
  </p>
  <img
    class="img-margin block-image"
    src="../assets/unblocking-efficiency.png"
    alt="The Dashboard — Organized and On-task"
  />
  <p class="text-block text-align-center">
    By cutting out time you spend switching between the many applications,
    documents and lists used to manage your search, Savvyy saves you time and
    ensures you won't lose the lead that could become your dream job.
  </p>
</section>
